<div class="navbar-div">
    <nav class="navbar">
        <label for="#" class="logo"><a href="index" class="goldgym">Registration Page</a></label>
        <ul class="nav-ul">
        </ul>
    </nav>
</div>